.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  height: 89px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  justify-content: center;
  background-color: #B4DDF3;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-style: normal;
  font-family: Beth Ellen;
  font-weight: 700;
}
.home-container02 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: hidden;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: #B4DDF3;
}
.home-container03 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.home-link {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: normal;
  font-family: Quattrocento;
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
}
.home-link:hover {
  color: #DFE4E7;
}
.home-container04 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
}
.home-link01 {
  color: #ffffff;
  font-style: normal;
  font-family: Quattrocento;
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
}
.home-link01:hover {
  color: #DFE4E7;
}
.home-container05 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
}
.home-link02 {
  color: #ffffff;
  font-style: normal;
  font-family: Quattrocento;
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
}
.home-link02:hover {
  color: #DFE4E7;
}
.home-container06 {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container07 {
  flex: 0 0 auto;
  width: 70%;
  height: 1256px;
  display: flex;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-container08 {
  width: 100%;
  height: 31px;
  display: flex;
  align-items: flex-start;
}
.home-text01 {
  color: rgb(180, 221, 243);
  align-self: center;
  font-family: Quattrocento;
}
.home-text02 {
  color: rgb(57, 57, 57);
  font-family: Quattrocento;
}
.home-link03 {
  text-decoration: underline;
}
.home-link04 {
  text-decoration: underline;
}
.home-link05 {
  text-decoration: underline;
}
.home-link06 {
  text-decoration: underline;
}
.home-link07 {
  text-decoration: underline;
}
.home-text21 {
  color: rgb(180, 221, 243);
  align-self: center;
  font-family: Quattrocento;
}
.home-text22 {
  color: rgb(0, 0, 0);
  font-family: Quattrocento;
}
.home-link08 {
  text-decoration: underline;
}
.home-link09 {
  text-decoration: underline;
}
.home-link10 {
  text-decoration: underline;
}
.home-link11 {
  text-decoration: underline;
}
.home-link12 {
  text-decoration: underline;
}
.home-link13 {
  text-decoration: underline;
}
.home-link14 {
  text-decoration: underline;
}
.home-link15 {
  text-decoration: underline;
}
.home-link16 {
  text-decoration: underline;
}
.home-link17 {
  text-decoration: underline;
}
.home-link18 {
  text-decoration: underline;
}
.home-link19 {
  text-decoration: underline;
}
.home-link20 {
  text-decoration: underline;
}
.home-text49 {
  color: #b4ddf3;
  align-self: center;
  font-family: Quattrocento;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-link21 {
  display: contents;
}
.home-image {
  width: 69px;
  height: 68px;
  object-fit: cover;
  text-decoration: none;
}
.home-link22 {
  display: contents;
}
.home-image1 {
  width: 69px;
  height: 69px;
  object-fit: cover;
  text-decoration: none;
}
.home-link23 {
  display: contents;
}
.home-image2 {
  width: 69px;
  height: 69px;
  object-fit: cover;
  text-decoration: none;
}
.home-link24 {
  display: contents;
}
.home-image3 {
  width: 69px;
  height: 69px;
  object-fit: cover;
  text-decoration: none;
}
.home-link25 {
  display: contents;
}
.home-image4 {
  width: 69px;
  height: 69px;
  object-fit: cover;
  text-decoration: none;
}
.home-container10 {
  flex: 0 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image5 {
  width: 250px;
  height: 392px;
  position: fixed;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 767px) {
  .home-container03 {
    flex: 1;
  }
  .home-container04 {
    flex: 1;
  }
  .home-container05 {
    flex: 1;
  }
  .home-image5 {
    width: 191px;
    height: 350px;
  }
}
@media(max-width: 479px) {
  .home-text {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
    font-family: Beth Ellen;
    font-weight: 700;
  }
  .home-text22 {
    color: rgb(0, 0, 0);
    font-family: Quattrocento;
  }
  .home-text26 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text27 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text31 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text32 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text36 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text37 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text40 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text41 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text43 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-text44 {
    color: #393939;
    font-family: Quattrocento;
  }
  .home-image5 {
    width: 104px;
    height: 268px;
  }
}

a:hover {
  font-weight: bold;
  color: #B4DDF3;
}

.title {
  color: #B4DDF3;
  font-weight: bold;
}

.authors {
  font-weight: bold;
}

.myname {
  color: #FFBCA3;
}
