:root {
  --dark-gray: #393939;
  --light-gray: rgb(230,230,230);
  --light-blue: #b4ddf3;
  --peach: rgb(255, 188, 163);
  --off-white: rgb(245, 245, 245);
}

a {
  color: var(--light-blue);
}

a:hover {
  color: var(--peach);
  font-weight: bold;
}

a:active {
  color: var(--peach);
}

.link-container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.navlink {
  color: var(--off-white);
  align-self: center;
  font-style: normal;
  font-family: Quattrocento;
  font-weight: 700;
  text-decoration: none;
  font-size: 4vh;
}

.navlink:hover {
  text-decoration: underline;
  color: var(--off-white);
}

.navlink:active {
  text-decoration: underline;
  color: var(--light-gray);
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--light-blue);
}

.name-container {
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--light-blue);
  text-align: center;
}

.name-text {
  color: var(--off-white);
  font-size: 6vh;
  font-style: normal;
  font-family: Beth Ellen;
  font-weight: 700;
}

.section-title {
  color: var(--light-blue);
  align-self: center;
  font-family: Quattrocento;
}
.lhs-container {
  flex: 1;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.rhs-container {
  flex: 1;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.center-container {
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.self-photo {
  transform: scale(0.5);
  position: fixed;
  align-self: center;
  object-fit: cover;
}

.text-section {
  text-align: center;
  font-family: Quattrocento;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.title {
  color: var(--light-blue);
  font-weight: bold;
}

.authors {
  font-weight: bold;
}

.myname {
  color: var(--peach);
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  flex-wrap: wrap;
}

.icon-link:hover {
  transform: rotate(5deg)
}

.icon-img {
  width: 69px;
  height: 68px;
  object-fit: cover;
  margin: auto;
}

.spacer {
  width: 100%;
  min-height: 40px;
}

@media(max-width: 550px) {
  .name-text {
    font-size: 5vh;
  }

  .navlink {
    font-size: 3vh;
  }

  .center-container {
    width: 95%;
  }
  .lhs-container {
    width: 60%;
  }
  .self-photo {
    transform: scale(0.2);
  }


  .icon-img {
    width: 48px;
    height: 48px;
  }
}

@media(max-width: 850px) {

  .self-photo {
    transform: scale(0.4);
  }
}

@media(max-width: 700px) {

  .self-photo {
    transform: scale(0.3);
  }
}

@media(max-width: 460px) {
  .name-text {
    font-size: 5vh;
  }

  .navlink {
    font-size: 3vh;
  }


  .center-container {
    width: 95%;
  }
  .lhs-container {
    width: 60%;
  }
  .self-photo {
    transform: scale(0.15);
  }
  .icon-img {
    width: 48px;
    height: 48px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
}
